body {
	background-color: #667AB0;
}

.bloc {
	background-color: white;
	text-align: justify;
	width: 70%;
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: kohinoor bangla;
	border-radius: 10px;
}



.image1{
    float: left; /* permet de mettre les images les unes à côté des autres*/
    margin-bottom: -250px;
    margin-top: -350px;
    margin-left: 300px;
    position: relative;
    opacity: 0;
    background-color: white;
    transition: all 1s;
} 

.image1:hover {
    -webkit-transform: scale(1.05); /*Safari et Chrome*/
    -moz-transform: scale(1.05); /* Firefox */
    -ms-transform: scale(1.05); /* IE 9 */
    -o-transform: scale(1.05); /* Opera */
    transform: scale(1.05);
    z-index: 1;
    opacity: 0.85;
}

.tooltip:hover {
    position: relative;
    color: blue;
    background-color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    visibility: visible;
    /* Fade in tooltip - takes 1.5 second to go from 0% to 100% opac: */
    opacity: 1;
    transition: opacity 0.5s;
}


/* Ceci est la partie qui concerne mon en-tête */

.login li {
	text-transform: uppercase;
	display: block;
    float: right;
    clear: both;
    font-size: 12px;
}

.titre {
	clear: both;
	background-color: lightgray;
	font-family: marcelle script; 
	text-align: center;
	font-size: 25px;
	border-radius: 3px;
}

		.sousTitre h2 {
			margin-bottom: 10px;
		}

		.sousTitre p {
			font-size: 13px;
			margin-bottom: 60px;
		}




/* Ceci est la partie qui concerne mon menu */

.menu{
	padding: 0; 
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

		.menu li {
			text-decoration: none;
			font-size: 25px;
			display: inline;
			list-style: none;
		}
				
				.menu a {
					display: inline-block;
					margin: 0 30px;
				}

				.menu a:link{
					text-decoration: none;
				    color: gray;
				}

				.menu a:visited{
					color: gray;
				}

				.menu a:hover {
    				font-size: 25px;
				}




/* Ceci est la partie qui concerne le coeur de ma page avec les différentes parties qui la composent */

#forum-presentation {
	padding-top: 50px;
	clear: both;
	/*padding-bottom: 20px;*/
}

	.presentation p{
		background-color: #97B4DA;
		padding-left: 3px;
		border-radius: 3px;
		color: white;
		font-size: 20px;
	}

	.paragraphe{
		padding: 10px 40px 10px 40px;
	}


		.list p{
			padding: 10px;
			margin-left: 70px;
		}

		.encouragement {
			font-size: 25px;
			text-align: center;
		}



/* Ceci est la partie Forum */

#forum-forum {
	padding-top: 50px;
	clear: both;
}

	.forum p{
		background-color: #97B4DA;
		padding-left: 3px;
		border-radius: 3px;
		color: white;
		font-size: 20px;
	}

	#form1{
		padding-left: 15%;
	}

		#Recherche{
			box-shadow: none;
			width: 300px;
			height: 25px;
			display: inline-block;
			font-size: 13px;
			border-radius: 5px;
		}

		fieldset {
			margin: 10px 10px 10px 10px;
		}

		#nouvelle{
			background-color: darkgray;
			color: white;
			text-decoration: none;
			border-radius: 3px;
			padding: 2px;
			font-size: 13px;
		}

		#formulaire {
			text-align: center;
		}

		#envoyer{
			background-color: darkgray;
			border-radius: 3px;
			padding: 2px;
			font-size: 13px;
		}

		#envoyer2{
			text-decoration: none;
			color: white;
		}

		#question {
			text-align: center;
		}

			#pseudo{
				margin-top: 10px;
				display: inline-block;
				font-size: 13px;
				border-radius: 5px;
			}

			#objet{
				margin-top: 10px;
				display: inline-block;
				font-size: 13px;
				border-radius: 5px;
				margin-left: -285px;
			}

			#email{
				margin-top: 12px;
				display: inline-block;
				font-size: 13px;
				border-radius: 5px;
				margin-bottom: 25px;
			}

			#post{
			margin-top: 10px;
			box-shadow: none;
			display: inline-block;
			font-size: 13px;
			border-radius: 5px;
		}


#forum-lieux{
	padding-top: 50px;
	clear: both;
}

	.paragraphe-lieux{
		padding: 10px 40px 10px 40px;
	}

	.lieux p{
		background-color: #97B4DA;
		padding-left: 3px;
		border-radius: 3px;
		color: white;
		font-size: 20px;
	}

		.forum-lieux script {
			clear: both;
			float: left;
		}

			.adresse{
				float: right;
				margin: -230px 170px -80px -90px;
				text-align: center;
			}

				.adresse p {
					clear: both;
					margin: -5px;
				}

#forum-contact{
	padding-top: 50px;
	padding-left: 5px;
	padding-right: 5px;
	clear: both;
	margin-bottom: 50px;
}

	.paragraphe-contact{
		padding: 10px 40px 10px 40px;
	}

	.contact p{
		background-color: #97B4DA;
		padding-left: 3px;
		border-radius: 3px;
		color: white;
		font-size: 20px;
	}

	.contact{
		margin-bottom: 10px;
	}

		#forum-contact p {
			margin: -5px;
		}




/* Ceci est la partie est concerne la fin de ma page, mon footer */

.haut{
	position: fixed;
	top: 10px;
	right: 10px;
	float: right;
	font-size: 15px;
	font-family: kohinoor bangla;
	background-color: white;
	border-radius: 10px;
}

		.haut a:visited{
			color: #5100FF;
		}

		.haut a:link{
			text-decoration: none;
			color: #5100FF;
		}


footer {
      background-color: #555;
      color: white;
      padding: 15px;
      border-radius: 3px;
}

		footer p {
			margin: -5px;
		}

.copyright{
	padding-left:500px;
	font-size: 14px;
	color: white;
}
